html,
body {
  height: 100%;
  width : 100%;
  margin: 0;
}

div {
  display   : block;
  box-sizing: border-box;
  float     : left;
  padding   : 8px;
  width     : calc(100% - 240px);
}

div>p {
  margin     : 1em;
  text-indent: 2em;
}

dl {
  display   : block;
  box-sizing: border-box;
  float     : left;
  margin    : 0;
  width     : 240px;
}

dt {
  display : flex;
  position: relative;
}

dt a {
  flex           : 1;
  padding        : 4px 12px;
  text-align     : center;
  font           : 600 0.8em "宋体", sans-serif;
  color          : #fff;
  text-decoration: none;
  background     : #666;
}

dt a:hover {
  background: orange;
}

dd {
  box-sizing: border-box;
  margin    : 0;
  padding   : 8px;
  width     : 240px;
  height    : 200px;
  overflow  : hidden;
  border    : 1px solid #999;
}

ul {
  box-sizing: border-box;
  margin    : 0;
  padding   : 8px;
  width     : 240px;
  height    : 200px;
  list-style: none;
}

li {
  width      : 230px;
  font       : 12px/1.8em "宋体", sans-serif;
  white-space: nowrap;
  overflow   : hidden;
}