extends layout

block content
  link(rel='stylesheet', href='/stylesheets/login.css')

  h2 login
  div.box
    form(action="/login" method="post")
      label(for="username")
        span 用户名
        input#username(type="text", placeholder="username" name="username")
      label(for="password")
        span 密码
        input#password(type="password", placeholder="password" name="password")
      input(type="submit", value="submit")