html,
body {
  margin     : 0;
  height     : 100%;
  width      : 100%;
  font-family: "微软雅黑", sans-serif;
}

.view {
  box-sizing         : border-box;
  position           : relative;
  width              : 768px;
  margin             : 0 auto;
  padding            : 12px 32px;
  background-color   : #f4f4c1;
  /* z-index         : -1; */
}

.view>p {
  text-indent: 2em;
  font-size  : 1em;
}

.view>.info {
  text-indent: 0;
  color      : #666;
  font-size  : 0.8em;
}

.view>.info>span:last-of-type {
  float: right;
}

.header {
  height          : 30px;
  background-color: #555;
}

.header>b {
  display    : block;
  float      : left;
  line-height: 30px;
  padding    : 0 24px;
  color      : #fff;
}

#nav {
  display         : block;
  float           : left;
  padding         : 0;
  margin          : 0;
  z-index         : 1;
  height          : 30px;
  background-color: #555;
}

#nav ul {
  position  : absolute;
  list-style: none;
  padding   : 0;
  width     : 100%;
  z-index   : 10;
}

#nav>li {
  display   : block;
  float     : left;
  text-align: center;
  height    : 30px;
  overflow  : hidden;
  box-sizing: border-box;
  position  : relative;
}

#nav>li:hover {
  overflow: visible;
}

#nav a {
  display         : block;
  padding         : 3px 12px;
  text-decoration : none;
  color           : #fff;
  background-color: #555;
}

#nav a:hover {
  background-color: rgb(182, 172, 32);
}