body {
  text-align      : center;
  background-color: #f1f1f1;
}

h1 {
  font-size  : 5em;
  font-weight: 600;
  color      : #333;
  text-shadow: 0 0 5px #666;
}

ul {
  margin : 0;
  padding: 0;
}

li {
  list-style-type: none;
  display        : inline-block;
}

a {
  font-weight: 600;
  font-size  : 1.25em;
  font-style : italic;
  color      : #369;
}